.aurum {
    .swiper-pagination-bullets {
        display: none;
    }
    .aurum_slider {
        margin: 0 25px 80px 25px;
        position: relative;
      
        h2 {
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 20px;
        }
      
        p {
          font-size: 14px;
          line-height: 1.6;
          color: #333;
        }
      
        /* Swiper Styling */
        .swiper {
          margin-top: 20px;
        }
      
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        .inside {
          text-align: center;
      
          img {
            // width: 160px;
            margin: 16px 0;
            border-radius: 8px;
          }
      
          p {
            font-size: 13px;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 5px;
          }
        }
      

        .swiper-button-next,
        .swiper-button-prev {
          display: none !important;
        }
      

        button {
          background-color: transparent;
          border: 0.5px solid gray;
          width: 118px;
          padding: 6px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
      
          position: absolute;
          right: 15px;
          bottom: -50px;
      
          &:hover {
            background-color: #f4f4f4;
            border-color: black;
          }
      
          &::after {
            content: "➜";
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
}