@import url('https://fonts.cdnfonts.com/css/sinkin-sans-400-regular');

$black: #fff;
$grey: #858282;
$white: #fff;
$primary-bg: #888686;
$secondary-bg: #ffff;
$tertiary-bg: #ffff;
$active-color: yellow;


.main-klassic-content {
    background: linear-gradient(to bottom, $primary-bg 1%, $secondary-bg 18%, $tertiary-bg 100%);
    position: relative;
  padding-bottom: 1px;
  padding-top: 70px;

  .klassic {
    .swiper-pagination-bullets {
      display: none;
    }

    .klassic_slider {
      margin: 30px 25px 50px 25px;
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: center; // Ensures elements are centered

      h2 {
        text-transform:uppercase;
        // text-decoration: underline;
        margin-bottom: 20px;
        color: #444444;
        font-family: 'Sinkin Sans 500 Medium', sans-serif;
        font-size: 15.232px;
      }

      p {
        font-family: 'Sinkin Sans 300 Light', sans-serif;
        font-size: 9.825px;
        line-height: 1.6;
        color: #a4a4a4;
        // text-align: center;
        max-width: 600px;
      }

      /* Swiper Styling */
      .swiper {
        margin-top: 20px;
        width: 100%;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .inside {
        // text-align: center;

        img {
          margin: 16px 0;
          // border-radius: 8px;
          width: 100%;
        }


      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none !important;
      }

      /* Updated Button Styling */
      button {
        background-color: #fff;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #000;

        font-family: 'Sinkin Sans 300 Light', sans-serif;
        font-size: 10.129px;
        width: 110px;
        padding: 4px;

        margin-top: 20px; // Pushes button below content
        align-self: flex-end; // Ensures button stays centered

        // &:hover {
        //   background-color: #f4f4f4;
        //   border-color: black;
        // }

        // &::after {
        //   content: ""; 
        //   display: inline-block;
        //   width: 20px; // Adjust width as needed
        //   height: 10px; // Adjust height as needed
        //   background-image: url('/icons/right_arrow.png'); // Replace with actual image path
        //   background-size: contain;
        //   background-repeat: no-repeat;
        //   margin-left: 5px; // Space between text and image
        //   vertical-align: middle;
        // }

        .right_arrow {
          margin-bottom: -1px;
        }
      }
    }
  }
}
