@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-100Thin.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-100Thin.woff') format('woff'),
        url('../assets/fonts/SinkinSans-100Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-100ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-100ThinItalic.woff') format('woff'),
        url('../assets/fonts/SinkinSans-100ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-200XLight.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-200XLight.woff') format('woff'),
        url('../assets/fonts/SinkinSans-200XLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-200XLightItalic.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-200XLightItalic.woff') format('woff'),
        url('../assets/fonts/SinkinSans-200XLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-300Light.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-300Light.woff') format('woff'),
        url('../assets/fonts/SinkinSans-300Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-300LightItalic.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-300LightItalic.woff') format('woff'),
        url('../assets/fonts/SinkinSans-300LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-400Regular.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-400Regular.woff') format('woff'),
        url('../assets/fonts/SinkinSans-400Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-400Italic.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-400Italic.woff') format('woff'),
        url('../assets/fonts/SinkinSans-400Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-500Medium.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-500Medium.woff') format('woff'),
        url('../assets/fonts/SinkinSans-500Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-500MediumItalic.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-500MediumItalic.woff') format('woff'),
        url('../assets/fonts/SinkinSans-500MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-600SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-600SemiBold.woff') format('woff'),
        url('../assets/fonts/SinkinSans-600SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-700Bold.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-700Bold.woff') format('woff'),
        url('../assets/fonts/SinkinSans-700Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-800Black.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-800Black.woff') format('woff'),
        url('../assets/fonts/SinkinSans-800Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans';
    src: url('../assets/fonts/SinkinSans-900XBlack.woff2') format('woff2'),
        url('../assets/fonts/SinkinSans-900XBlack.woff') format('woff'),
        url('../assets/fonts/SinkinSans-900XBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}